# Python Básico: Importación de Datos

Este notebook cubre los conceptos básicos de Python necesarios para trabajar con datos, incluyendo:
- Conceptos básicos de Python
- Importación de datos desde archivos CSV
- Conexión a bases de datos MySQL
- Manipulación básica de datos con pandas

## 1. Importación de Librerías Necesarias

In [1]:
# Librerías esenciales para análisis de datos
import pandas as pd
import numpy as np
import mysql.connector
from mysql.connector import Error
import matplotlib.pyplot as plt
import seaborn as sns

# Configuración para visualización
%matplotlib inline
plt.style.use('seaborn-v0_8')
sns.set_palette("husl")

print("Librerías importadas correctamente")

Librerías importadas correctamente

## 2. Conceptos Básicos de Python

### 2.1 Variables y Tipos de Datos

In [2]:
# Variables básicas
nombre = "Mantenimiento Predictivo"
numero_activos = 150
probabilidad_falla = 0.75
es_critico = True

print(f"Tipo de 'nombre': {type(nombre)}")
print(f"Tipo de 'numero_activos': {type(numero_activos)}")
print(f"Tipo de 'probabilidad_falla': {type(probabilidad_falla)}")
print(f"Tipo de 'es_critico': {type(es_critico)}")

Tipo de 'nombre': <class 'str'>
Tipo de 'numero_activos': <class 'int'>
Tipo de 'probabilidad_falla': <class 'float'>
Tipo de 'es_critico': <class 'bool'>

### 2.2 Listas y Diccionarios

In [3]:
# Listas
activos = ["Motor A", "Motor B", "Compresor C"]
probabilidades = [0.2, 0.5, 0.8]

# Diccionarios
configuracion_db = {
    'host': '127.0.0.1',
    'database': 'palantir_maintenance',
    'user': 'root',
    'password': 'admin',
    'port': 3306
}

print(f"Lista de activos: {activos}")
print(f"Configuración DB: {configuracion_db}")

Lista de activos: ['Motor A', 'Motor B', 'Compresor C']
Configuración DB: {'host': '127.0.0.1', 'database': 'palantir_maintenance', 'user': 'root', 'password': 'admin', 'port': 3306}

## 3. Importación de Datos desde CSV

### 3.1 Leer un archivo CSV

In [4]:
# Ejemplo: Leer un archivo CSV
# Nota: Asegúrate de tener un archivo CSV en la ruta especificada
# df_csv = pd.read_csv('ruta/al/archivo.csv')

# Ejemplo con datos simulados
datos_ejemplo = {
    'asset_id': [1, 2, 3, 4, 5],
    'asset_name': ['Motor A', 'Motor B', 'Compresor C', 'Bomba D', 'Válvula E'],
    'failure_count': [2, 5, 1, 3, 0],
    'probability': [0.2, 0.8, 0.1, 0.5, 0.05]
}

df_ejemplo = pd.DataFrame(datos_ejemplo)
print("DataFrame creado desde diccionario:")
print(df_ejemplo)
print(f"\nForma del DataFrame: {df_ejemplo.shape}")
print(f"\nInformación del DataFrame:")
df_ejemplo.info()

DataFrame creado desde diccionario:
   asset_id   asset_name  failure_count  probability
0         1      Motor A              2         0.20
1         2      Motor B              5         0.80
2         3  Compresor C              1         0.10
3         4      Bomba D              3         0.50
4         5    Válvula E              0         0.05

Forma del DataFrame: (5, 4)

Información del DataFrame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   asset_id       5 non-null      int64
 1   asset_name     5 non-null      object
 2   failure_count  5 non-null      int64
 3   probability    5 non-null      float64
dtypes: float64(1), int64(2), object(1)
memory usage: 288.0+ bytes

### 3.2 Operaciones Básicas con DataFrames

In [5]:
# Ver las primeras filas
print("Primeras 3 filas:")
print(df_ejemplo.head(3))

# Estadísticas descriptivas
print("\nEstadísticas descriptivas:")
print(df_ejemplo.describe())

# Seleccionar columnas específicas
print("\nSolo columnas numéricas:")
print(df_ejemplo[['asset_id', 'failure_count', 'probability']])

# Filtrar datos
print("\nActivos con probabilidad > 0.3:")
print(df_ejemplo[df_ejemplo['probability'] > 0.3])

Primeras 3 filas:
   asset_id   asset_name  failure_count  probability
0         1      Motor A              2          0.2
1         2      Motor B              5          0.8
2         3  Compresor C              1          0.1

Estadísticas descriptivas:
       asset_id  failure_count  probability
count  5.000000       5.000000     5.000000
mean   3.000000       2.200000     0.330000
std    1.581139       1.923538     0.315436
min    1.000000       0.000000     0.050000
25%    2.000000       1.000000     0.100000
50%    3.000000       2.000000     0.200000
75%    4.000000       3.000000     0.500000
max    5.000000       5.000000     0.800000

Solo columnas numéricas:
   asset_id  failure_count  probability
0         1              2         0.20
1         2              5         0.80
2         3              1         0.10
3         4              3         0.50
4         5              0         0.05

Activos con probabilidad > 0.3:
   asset_id asset_name  failure_count  probability
1         2    Motor B              5          0.8
3         4    Bomba D              3          0.5

## 4. Conexión a Base de Datos MySQL

### 4.1 Configuración de Conexión

In [6]:
# Configuración de la base de datos MySQL
DB_CONFIG = {
    'host': '127.0.0.1',
    'database': 'palantir_maintenance',
    'user': 'root',
    'password': 'admin',
    'port': 3306
}

def conectar_mysql(config):
    """Función para conectar a MySQL"""
    try:
        connection = mysql.connector.connect(**config)
        if connection.is_connected():
            db_info = connection.get_server_info()
            print(f"Conectado a MySQL Server versión {db_info}")
            return connection
    except Error as e:
        print(f"Error al conectar a MySQL: {e}")
        return None

# Conectar a la base de datos
connection = conectar_mysql(DB_CONFIG)

Conectado a MySQL Server versión 9.4.0

### 4.2 Consultar Datos desde MySQL usando pandas

In [7]:
# Método 1: Usando mysql.connector y pandas
query = "SELECT * FROM assets LIMIT 10"
df_assets = pd.read_sql(query, connection)
print("Datos de la tabla 'assets':")
#print(df_assets.head())
print(f"\Tamaño: {df_assets.shape}")
df_assets.head()

Datos de la tabla 'assets':
\Tamaño: (8, 10)

C:\Users\carlo\AppData\Local\Temp\ipykernel_1592\3828646643.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_assets = pd.read_sql(query, connection)

,asset_id,asset_name,asset_type,location,installation_date,manufacturer,model_number,status,created_at,updated_at
0,1,Compressor Unit A-101,Compressor,Building 1 - Floor 2,2020-01-15,Atlas Copco,GA-75,operational,2026-01-23 22:30:53,2026-01-23 22:30:53
1,2,Pump Station B-205,Pump,Building 2 - Basement,2019-06-20,Grundfos,CR-32,operational,2026-01-23 22:30:53,2026-01-23 22:30:53
2,3,Conveyor Belt C-301,Conveyor,Building 3 - Production Line 1,2021-03-10,Siemens,SIMATIC,operational,2026-01-23 22:30:53,2026-01-23 22:30:53
3,4,HVAC System D-401,HVAC,Building 4 - Roof,2018-11-05,Carrier,30XA-100,maintenance,2026-01-23 22:30:53,2026-01-23 22:30:53
4,5,Generator E-501,Generator,Building 5 - Power Room,2020-09-12,Cummins,QSK60,operational,2026-01-23 22:30:53,2026-01-23 22:30:53

### 4.3 Consultar la Tabla faliure_probability_base

In [8]:
# Consultar la tabla faliure_probability_base
query = """
SELECT * 
FROM faliure_probability_base 
LIMIT 10
"""
df_failure_base = pd.read_sql(query, connection)
print("Datos de la tabla 'faliure_probability_base':")
print(f"\nColumnas disponibles: {list(df_failure_base.columns)}")
print(f"\nForma: {df_failure_base.shape}")
print(f"\nInformación del DataFrame:")
df_failure_base.head()

Datos de la tabla 'faliure_probability_base':

Columnas disponibles: ['base_id', 'asset_id', 'reading_date', 'faliure', 'extraction_date', 'asset_age_days', 'asset_status', 'sensor_total_readings_30d', 'sensor_warning_count_30d', 'sensor_critical_count_30d', 'sensor_avg_normal_value', 'sensor_avg_warning_value', 'sensor_avg_critical_value', 'sensor_max_value', 'sensor_min_value', 'sensor_std_value', 'failure_count_365d', 'failure_critical_count', 'failure_high_count', 'failure_medium_count', 'failure_low_count', 'failure_avg_downtime', 'failure_total_downtime', 'failure_unresolved_count', 'days_since_last_failure', 'task_total_365d', 'task_completed_count', 'task_in_progress_count', 'task_pending_count', 'task_avg_estimated_hours', 'task_avg_actual_hours', 'task_total_hours', 'days_since_last_task', 'order_total_365d', 'order_preventive_count', 'order_corrective_count', 'order_emergency_count', 'order_completed_count', 'order_avg_estimated_cost', 'order_avg_actual_cost', 'order_total_actual_cost', 'days_since_last_order', 'created_at', 'updated_at']

Forma: (10, 44)

Información del DataFrame:

C:\Users\carlo\AppData\Local\Temp\ipykernel_1592\152935794.py:7: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_failure_base = pd.read_sql(query, connection)

,base_id,asset_id,reading_date,faliure,extraction_date,asset_age_days,asset_status,sensor_total_readings_30d,sensor_warning_count_30d,sensor_critical_count_30d,...,order_preventive_count,order_corrective_count,order_emergency_count,order_completed_count,order_avg_estimated_cost,order_avg_actual_cost,order_total_actual_cost,days_since_last_order,created_at,updated_at
0,1,4,2022-10-01,1,2026-01-25 20:36:35,1426,maintenance,48,0,0,...,94,16,2,26,4495.11,4471.70,116264.13,3,2026-01-25 20:36:35,2026-01-25 20:36:35
1,2,1,2022-10-01,1,2026-01-25 20:36:35,990,operational,48,5,0,...,69,37,3,37,4580.13,4811.36,178020.43,6,2026-01-25 20:36:35,2026-01-25 20:36:35
2,3,2,2022-10-01,1,2026-01-25 20:36:35,1199,operational,48,0,0,...,70,23,4,29,2035.45,1975.50,57289.41,-2,2026-01-25 20:36:35,2026-01-25 20:36:35
3,4,3,2022-10-01,1,2026-01-25 20:36:35,570,operational,48,0,0,...,64,32,3,33,2018.55,2324.20,76698.68,1,2026-01-25 20:36:35,2026-01-25 20:36:35
4,5,5,2022-10-01,1,2026-01-25 20:36:35,749,operational,48,0,0,...,81,36,2,29,8837.71,9288.92,269378.69,3,2026-01-25 20:36:35,2026-01-25 20:36:35

## 5. Limpieza y Preparación de Datos

### 5.1 Manejo de Valores Faltantes

In [9]:
# Si tenemos datos de la base de datos
if connection and connection.is_connected():
    query = "SELECT * FROM faliure_probability_base"
    df = pd.read_sql(query, connection)
    
    # Verificar valores faltantes
    print("Valores faltantes por columna:")
    print(df.isnull().sum())
    
    # Porcentaje de valores faltantes
    print("\nPorcentaje de valores faltantes:")
    print((df.isnull().sum() / len(df)) * 100)
    
    # Opciones para manejar valores faltantes:
    # 1. Eliminar filas con valores faltantes
    # df_clean = df.dropna()
    
    # 2. Llenar con valores específicos
    # df_filled = df.fillna(0)  # Llenar con 0
    
    # 3. Llenar con la media (solo columnas numéricas)
    # df_filled_mean = df.fillna(df.mean())
    
    print(f"\nForma original: {df.shape}")
    # print(f"Forma después de dropna: {df_clean.shape}")

Valores faltantes por columna:
base_id                      0
asset_id                     0
reading_date                 0
faliure                      0
extraction_date              0
asset_age_days               0
asset_status                 0
sensor_total_readings_30d    0
sensor_warning_count_30d     0
sensor_critical_count_30d    0
sensor_avg_normal_value      0
sensor_avg_warning_value     0
sensor_avg_critical_value    0
sensor_max_value             0
sensor_min_value             0
sensor_std_value             0
failure_count_365d           0
failure_critical_count       0
failure_high_count           0
failure_medium_count         0
failure_low_count            0
failure_avg_downtime         0
failure_total_downtime       0
failure_unresolved_count     0
days_since_last_failure      4
task_total_365d              0
task_completed_count         0
task_in_progress_count       0
task_pending_count           0
task_avg_estimated_hours     0
task_avg_actual_hours        0
task_total_hours             0
days_since_last_task         0
order_total_365d             0
order_preventive_count       0
order_corrective_count       0
order_emergency_count        0
order_completed_count        0
order_avg_estimated_cost     0
order_avg_actual_cost        0
order_total_actual_cost      0
days_since_last_order        0
created_at                   0
updated_at                   0
dtype: int64

Porcentaje de valores faltantes:
base_id                      0.0000
asset_id                     0.0000
reading_date                 0.0000
faliure                      0.0000
extraction_date              0.0000
asset_age_days               0.0000
asset_status                 0.0000
sensor_total_readings_30d    0.0000
sensor_warning_count_30d     0.0000
sensor_critical_count_30d    0.0000
sensor_avg_normal_value      0.0000
sensor_avg_warning_value     0.0000
sensor_avg_critical_value    0.0000
sensor_max_value             0.0000
sensor_min_value             0.0000
sensor_std_value             0.0000
failure_count_365d           0.0000
failure_critical_count       0.0000
failure_high_count           0.0000
failure_medium_count         0.0000
failure_low_count            0.0000
failure_avg_downtime         0.0000
failure_total_downtime       0.0000
failure_unresolved_count     0.0000
days_since_last_failure      1.5625
task_total_365d              0.0000
task_completed_count         0.0000
task_in_progress_count       0.0000
task_pending_count           0.0000
task_avg_estimated_hours     0.0000
task_avg_actual_hours        0.0000
task_total_hours             0.0000
days_since_last_task         0.0000
order_total_365d             0.0000
order_preventive_count       0.0000
order_corrective_count       0.0000
order_emergency_count        0.0000
order_completed_count        0.0000
order_avg_estimated_cost     0.0000
order_avg_actual_cost        0.0000
order_total_actual_cost      0.0000
days_since_last_order        0.0000
created_at                   0.0000
updated_at                   0.0000
dtype: float64

Forma original: (256, 44)

C:\Users\carlo\AppData\Local\Temp\ipykernel_1592\3774400323.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, connection)

### 5.2 Cerrar Conexión

In [10]:
# Siempre cerrar la conexión cuando termines
if connection and connection.is_connected():
    connection.close()
    print("Conexión a MySQL cerrada correctamente")

Conexión a MySQL cerrada correctamente

## Resumen

En este notebook hemos aprendido:
1. ✅ Conceptos básicos de Python (variables, listas, diccionarios)
2. ✅ Importación de datos desde CSV usando pandas
3. ✅ Conexión a bases de datos MySQL
4. ✅ Consulta de datos desde MySQL
5. ✅ Operaciones básicas con DataFrames
6. ✅ Manejo de valores faltantes

**Próximos pasos:** En el siguiente notebook aprenderemos sobre modelos de clasificación.